### Libs & Data

In [9]:
import pandas as pd
import numpy as np
import os
import re
import nltk
nltk.download('stopwords')
nltk.download('wordnet')
import string
import random
import unicodedata
from string import punctuation
from string import digits
from nltk.stem import WordNetLemmatizer
import joblib

# from sklearn.feature_extraction.text import CountVectorizer
# from sklearn.feature_extraction.text import TfidfTransformer
# from sklearn.feature_extraction.text import TfidfVectorizer
# from sklearn.decomposition import PCA
# from sklearn.decomposition import TruncatedSVD
# from sklearn.manifold import TSNE
# from sklearn.cluster import KMeans
# from sklearn.cluster import DBSCAN
# from sklearn.neighbors import NearestNeighbors
# from sklearn.metrics import silhouette_score

import matplotlib.pyplot as plt

import torch
# from transformers import BartTokenizer, BartForConditionalGeneration, BartConfig

import spacy
from spacy.matcher import Matcher

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\kwsst\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\kwsst\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [10]:
# Load large spacy model 
nlp = spacy.load('en_core_web_lg')

In [11]:
df2015 = pd.read_csv("data/df2015.csv")
df2016 = pd.read_csv("data/df2016.csv")
df2017 = pd.read_csv("data/df2017.csv")
df2017.head()

,title,author,time,description,body,section,summarized_body,label
0,A snapshot of multiculturalism in South Korea,Lee Sun-young,2018-01-01 17:07:00,With birthrates persistently low and the senio...,With birthrates persistently low and the senio...,Social affairs,"As of 2016, more than 2 million foreign nation...",0
1,[Weekender] Korea’s dynamic 2017,Choi He-suk,2018-01-01 13:22:00,From North Korea’s nuclear weapons program nea...,From North Korea’s nuclear weapons program nea...,Social affairs,The corruption scandal that broke out in 2016 ...,1
2,People's Party members support Ahn's push for ...,Yonhap,2017-12-31 16:18:00,The leader of the center-left People's Party g...,The leader of the center-left People's Party g...,Politics,"Ahn Cheol-soo, leader of the center-left Peopl...",2
3,[Newsmaker] Panamanian vessel probed over susp...,Yonhap,2017-12-31 14:55:00,PYEONGTAEK -- South Korea has seized and insp...,PYEONGTAEK -- South Korea has seized and insp...,North Korea,"The 5,100-ton KOTI is being held in the wester...",3
4,Hong Kong ship crew questioned in S. Korea for...,AFP,2017-12-30 15:44:00,The crew of a Hong Kong-registered ship have b...,The crew of a Hong Kong-registered ship have b...,North Korea,The crew of a Hong Kong-registered ship have b...,4

In [12]:
top20sum = pd.read_csv("data/top20sum.csv")
top20sum.head()

,2015,label2015,freq2015,2016,label2016,freq2016,2017,label2017,freq2017
0,South Korea reported no additional cases of Mi...,2957,6,"Radio Pyongyang, the North's state-run radio s...",16,5,Temperatures across the country plummeted abou...,67,11
1,"In October, some 36,900 babies were born, up 1...",132,5,Some 200 chickens were found dead on Monday mo...,518,4,A South Korean research team says it has uncov...,617,7
2,"Cho Hyun-ah, former vice president of Korean A...",6018,4,Voter turnout in South Korea’s parliamentary e...,5095,4,South Korean scientists have developed an adhe...,4735,5
3,Seoul-Tokyo ties have plunged to lowest levels...,5457,4,Walkway along Deoksu Palace in downtown Seoul ...,705,3,"About 30,300 babies were born in May, down 11....",3708,5
4,South Korea's top financial regulator said Fri...,5039,4,Pigs at two swine farms in Nonsan in the centr...,5782,3,"The search for the missing South Korean ship, ...",6654,4

### NER

In [13]:
# Returns merged sentences given df and label
def merge_sents(df=df2015, cluster='label2015'):
    sents = []
    for label in top20sum[cluster]:
        merged_sent = ""
        for sent in df[df.label == label]['summarized_body']:
            merged_sent += sent
        sents.append(merged_sent)
    return sents
sents2015 = merge_sents(df2015, 'label2015')
sents2016 = merge_sents(df2016, 'label2016')
sents2017 = merge_sents(df2017, 'label2017')

In [14]:
top20sum['sents2015'] = sents2015
top20sum['sents2016'] = sents2016
top20sum['sents2017'] = sents2017
top20sum
top20sum.to_csv("data/top20sum_sents.csv", index=False)

In [15]:
# Extract entities from sentences
from collections import Counter
def extract_entity(sents=sents2015, clusters=top20sum['label2015']):
    for i in range(len(sents)):
        doc = nlp(sents[i])
        ent_list = dict()
        for ent in doc.ents:
            if not ent.label_ in ['MONEY','TIME','CARDINAL','QUANTITY','DATE','ORDINAL','PERCENT']:
                if ent.label_ in ent_list:
                    ent_list[ent.label_].append(ent.text)
                else:
                    ent_list[ent.label_] = [ent.text]
        print("Cluster id {}".format(clusters[i]))
        for k in ent_list:
            v = ent_list[k]
            ent_counter = Counter(v)
            top10item = ent_counter.most_common(10)
            print("\t{}: {}".format(k, top10item))

In [16]:
extract_entity(sents=sents2015, clusters=top20sum['label2015'])

Cluster id 2957
	GPE: [('South Korea', 4)]
	LOC: [('Middle East', 5)]
	PERSON: [('MERS', 4)]
	ORG: [('the Ministry of Health and Welfare', 1)]
Cluster id 132
	GPE: [('South Korea', 5)]
Cluster id 6018
	PERSON: [('Cho Hyun-ah', 3)]
	ORG: [('Cho', 2), ('Korean Air', 1)]
	GPE: [('Cho', 1), ('New York', 1), ('Seoul', 1)]
Cluster id 5457
	GPE: [('Japan', 5), ('Tokyo', 5), ('Seoul', 4), ('South Korea', 2), ('Beijing', 1), ('Korea', 1)]
	NORP: [('Korean', 3), ('South Korean', 1)]
	EVENT: [('World War II', 3)]
Cluster id 5039
	GPE: [("South Korea's", 3), ('Korea', 1)]
	NORP: [('South Koreans', 1)]
	ORG: [('the Bank of Korea', 1)]
Cluster id 3617
	NORP: [('Koreans', 1), ('South Korean', 1)]
	EVENT: [('the Yuan Dynasty', 1)]
	ORG: [('the Humane Society International', 2), ('the Change for Animals Foundation', 2)]
	GPE: [('South Korea', 2), ('S. Korea', 1), ('U.S.', 1)]
Cluster id 5864
	GPE: [('Seoul', 3), ('Gyeonggi Province', 2), ('Incheon', 1), ('Gangwon Province', 1)]
	ORG: [('Citizens', 1), ('The Korea Meteorological Administration', 1)]
	LOC: [('the Korean Peninsula', 1)]
Cluster id 1224
	ORG: [('Volkswagen Group', 2), ('Audi Volkswagen Korea', 2), ('Audi', 1), ('the U.S. Environmental Protection Agency', 1), ('Volkswagen', 1), ('Passat', 1)]
	GPE: [('Seoul', 1), ('New Jersey', 1), ('U.S.', 1), ('Tennessee', 1)]
	NORP: [('German', 2)]
Cluster id 1840
	GPE: [('Chuja Island', 3), ('Jeju Island', 3), ('Jeju', 3)]
	PRODUCT: [('Dolphin', 3)]
	PERSON: [('Lee', 1)]
	ORG: [('The Coast Guard', 1)]
Cluster id 5854
	ORG: [('Korean Air Line Co.', 2), ('KF-X', 2), ('Korea Aerospace Industries Ltd.', 1), ('Airbus', 1)]
	GPE: [('South Korea', 2), ('Seoul', 1), ("South Korea's", 1)]
	PRODUCT: [('F-16', 2)]
	LOC: [('Europe', 1)]
Cluster id 6487
	GPE: [('Busan', 2)]
Cluster id 2169
	LOC: [('Mount Seoraksan', 2)]
	PRODUCT: [('Civic', 1)]
	ORG: [('Yangyang County Office', 1), ('the Environment Ministry', 1)]
	GPE: [('Gangwon Province', 1)]
	PERSON: [('Geutcheong', 1)]
Cluster id 5368
	GPE: [('U.S.', 3), ('South Korea', 3), ('Australia', 3), ('Japan', 3), ('Seoul', 3), ('China', 1)]
	ORG: [('the Asian Infrastructure Investment Bank', 3), ('AIIB', 1)]
	LOC: [('Asia', 3), ('Pacific', 3)]
	NORP: [('South Korean', 3), ('AIIB.China', 2)]
Cluster id 2867
	NORP: [('inter-Korean', 2), ('South Korean', 1)]
	GPE: [('North Korea', 3), ('Koreas', 3), ("South Korea's", 2), ('Korea', 1), ('Pyongyang', 1), ('Seoul', 1)]
	LOC: [('North', 5), ('South', 1)]
Cluster id 2072
	PERSON: [('Dolgorae', 1)]
	WORK_OF_ART: [('Dolphin', 1)]
	GPE: [('Jeju', 2), ('Chuja Island', 1)]
	ORG: [('Chuja', 1), ('the Korea Coast Guard', 1)]
Cluster id 2514
	PERSON: [('Park Geun-hye', 2), ('Chey Tae-', 2), ('Park', 2)]
	NORP: [('Koreans', 2)]
	ORG: [('SK Group', 2)]
Cluster id 713
	ORG: [('U.N.', 2)]
	PERSON: [('Stephane Dujarric', 2), ('Ban', 2), ('Ban Ki-moon', 1), ('Kurt Waldheim', 1), ('Boutros Boutros-Ghali', 1)]
	GPE: [('North Korea', 3), ('U.S.', 1)]
	NORP: [('inter-Korean', 2), ('North Korean', 1)]
Cluster id 4335
	GPE: [('Japan', 4), ('South Korea', 1), ('Korea', 1)]
	NORP: [('Koreans', 2)]
	EVENT: [('World War II', 2)]
Cluster id 3506
	LOC: [('Middle East', 2)]
	ORG: [('Kyung Hee University Hospital', 1), ('Kyung Hee University Healthcare System', 1)]
Cluster id 6596

In [18]:
extract_entity(sents=sents2016, clusters=top20sum['label2016'])

Cluster id 16
	ORG: [('Radio Pyongyang', 3)]
	LOC: [('North', 1)]
	GPE: [('North Korea', 3), ('Korea', 1), ('Seoul', 1), ("North Korea's", 1), ('South Korea', 1), ('Pyongyang', 1)]
	EVENT: [('the Cold War', 1)]
Cluster id 518
	GPE: [('Yangju', 2), ('Eumseong', 1), ('South Korea', 1), ('Gyeonggi Province', 1), ('Haenam', 1), ('South Jeolla Province', 1)]
	LOC: [('South Chungcheong Province', 1), ('the west coastline', 1)]
	ORG: [('The Ministry of Agriculture,', 1), ('Food and Rural Affairs', 1), ('Ministry of Food, Agriculture and Rural Affairs', 1)]
	PERSON: [('Gimje', 1)]
Cluster id 5095
	NORP: [('South Korean', 1)]
	GPE: [('South Korea’s', 3)]
Cluster id 705
	GPE: [('Seoul', 2), ('Deoksugung', 1), ('Korea', 1), ('U.K.', 1), ('Seoul City', 1)]
	ORG: [('the British Embassy', 2), ('the Seoul Metropolitan Government', 1), ('Seoul Metropolitan Government', 1)]
	FAC: [('Stone Wall Walkway', 1), ('Deoksu Palace', 1), ('Deoksugung Palace', 1)]
Cluster id 5782
	LOC: [('Nonsan', 2), ('South Chungcheong Province', 2)]
	ORG: [('FMD', 3), ('World Organization for Animal Health', 3)]
	GPE: [('Paris', 3), ('Gongju', 1)]
	PERSON: [('Cheonan', 1)]
Cluster id 7166
	GPE: [('Korea', 2)]
	PERSON: [('Suh Ye-won', 2), ('Song Yoo-geun', 1)]
	ORG: [('National Research Center for Gifted and Talented Education', 2)]
	NORP: [('Korean', 1)]
	WORK_OF_ART: [('Ph.D.', 1)]
Cluster id 6234
	GPE: [('North Korea', 4), ('Washington', 4), ('U.S.', 3), ('Pyongyang', 1), ("South Korea's", 1), ('the United States', 1), ('New York', 1)]
	EVENT: [('the Korean War', 2)]
	ORG: [('The Wall Street Journal', 1), ('the United Nations', 1)]
	LOC: [('North', 1)]
Cluster id 431
	GPE: [('Seoul', 3)]
	PERSON: [('Park Geun-hye', 1), ('Choi', 1)]
	NORP: [('South Koreans', 2), ('anti-Park', 1)]
	ORG: [('the Saenuri Party', 1)]
Cluster id 4376
	GPE: [('South Korea', 2)]
	NORP: [('Koreans', 2)]
Cluster id 7255
	GPE: [('North Korea', 2)]
	NORP: [('South Korean', 1)]
	PERSON: [('Washington Free Beacon', 1)]
	LOC: [('North', 1)]
	WORK_OF_ART: [('Gorae', 1)]
Cluster id 5203
	PERSON: [('Jang Jun-gyu', 2), ('Kiyofumi Iwata', 2)]
	GPE: [('Japan', 4)]
	ORG: [('Ground Self-Defense Force', 2)]
Cluster id 5446
	ORG: [('North', 2)]
Cluster id 7263
	PERSON: [('Hwang Kyo-ahn', 2), ('Park Geun-hye', 1)]
Cluster id 6913
	GPE: [('China', 1), ("South Korea's", 1), ('Seoul', 1), ('Paju', 1), ('Suwon', 1), ('Incheon', 1)]
	LOC: [('the Korean Peninsula', 1)]
Cluster id 2202
	ORG: [('RB', 1), ('The Environment Ministry', 1)]
	GPE: [('Korea', 1)]
Cluster id 6789
	GPE: [('North Korea', 2)]
	ORG: [('the Defense Ministry', 2)]
	NORP: [('North Korean', 2), ('communist', 2)]
Cluster id 6897
	GPE: [('North Korea’s', 2)]
	ORG: [('The Minjoo Party', 2), ('The Saenuri Party', 2)]
	NORP: [('North Korean', 2)]
Cluster id 4882
	NORP: [('Ecuadorian', 2), ('Latin American', 2)]
	PERSON: [('Oscar Herrera Gilbert', 2)]
Cluster id 4922
	PERSON: [('Ai Bao', 2), ('Le Bao', 2)]
	GPE: [('South Korea', 2), ('Yongin', 1), ('Seoul', 1), ('Sichuan', 1), ('China', 1)]
	ORG: [('Samsung Everland', 1)]
	WORK_OF_ART: [('Panda World', 1)]
	NORP: [('Chinese', 1)]
Cluster id 5693
	GPE: [('Tokyo', 3), ('Seoul', 2)]
	ORG: [('The Education Ministry', 2)]
	LOC: [('the Dokdo Islets', 1)]

In [19]:
extract_entity(sents=sents2017, clusters=top20sum['label2017'])

Cluster id 67
	GPE: [('Gangwon Province', 4), ('Seoul', 4), ('Gyeonggi Province', 3), ('North Gyeongsang Province', 2), ('Jeju Island', 2), ('Jeolla Province', 1), ('Korea', 1), ('Chungcheong Province', 1), ('North Jeolla Province', 1)]
	LOC: [('North Chungcheong Province', 1)]
	ORG: [('The Korea Meteorological Administration', 2), ('Cheongju', 1), ('Daejeon', 1), ('C, Gwangju', 1), ('KMA', 1), ('C.A', 1)]
Cluster id 617
	NORP: [('Korean', 2), ('South Korean', 1), ('Japanese', 1)]
	LOC: [('the Korean Peninsula', 1), ('Korean Peninsula', 1)]
	ORG: [('Twitter', 4), ('Homepage', 2), ('Mount Baekdu', 1), ('Seoul Zoo', 1), ('AmurLeopard', 1), ('The National Institute of Biological Resources', 1)]
	GPE: [('China', 1), ('North Korea', 1), ('South Korea', 1)]
	PERSON: [('Gregory Pence', 2), ('Mount Jiri', 1)]
	LAW: [('@SBComics', 2)]
Cluster id 4735
	NORP: [('South Korean', 5)]
	PERSON: [('Bang Chang-hyun', 1), ('Han Chang-soo', 1), ('Lee Hyun-jae', 1)]
	ORG: [('Sungkyunkwan University', 1), ('Korea University', 1), ('the Institute for Basic Science', 1)]
	FAC: [('the Center for Nanoparticle Research', 1)]
Cluster id 3708
	GPE: [('South Korea', 4)]
	LOC: [('Asia', 1)]
Cluster id 6654
	ORG: [('Brazilian Air Force', 1), ('the Brazilian Air Force', 1)]
	NORP: [('South Korean', 7), ('Filipino', 1)]
	PRODUCT: [('the Stellar Daisy', 2), ('Polaris Shipping', 1), ('C-130', 1)]
	LOC: [('the South Atlantic', 2)]
	GPE: [('Seoul', 2)]
Cluster id 5
	GPE: [('Seoul', 4), ('Yeongam', 3), ('Gochang', 2), ('South Korea', 1)]
	ORG: [('Yeongam', 1)]
Cluster id 4112
	GPE: [('Seoul', 7)]
	FAC: [('Seoul City Hall', 2), ('Dongdaemun Design Plaza', 1)]
	LAW: [('the “Art on Seoul’s Streets Found', 2)]
	ORG: [('Citizens', 2)]
Cluster id 911
	ORG: [('SME', 1), ('Liberty Korea Party', 1), ('Venture', 1)]
	PERSON: [('Hong Jong-haak', 3), ('Moon Jae-in', 2), ('Moon', 2), ('Moon Jae', 1)]
Cluster id 813
	NORP: [('South Korean', 3)]
	PERSON: [('Bang Tae-hyun', 3), ('Bang', 3), ('Leo Kuntz', 1), ('Kim', 1), ('Yang', 1), ('Kuntz', 1)]
	FAC: [('UFC Fight Night 79', 1)]
	GPE: [('Seoul', 1)]
	WORK_OF_ART: [('Ultimate Fighting Championship', 1)]
	ORG: [('UFC', 1)]
Cluster id 5035
	NORP: [('Korean', 3)]
	GPE: [('Philippines', 2), ('Maldives', 1), ('Daegu', 1), ('Seoul', 1)]
	LOC: [('Africa', 1)]
Cluster id 6416
	ORG: [('Radio Pyongyang', 2)]
	GPE: [('Seoul', 3), ('Pyongyang', 2)]
	LOC: [('North', 2)]
Cluster id 3142
	ORG: [('Agriculture', 1), ('Ministry of Agriculture', 1), ('Fipronil', 1), ('The US Environmental Protection Agency', 1)]
	PERSON: [('Kim Yung-rok', 1)]
	GPE: [('South Korea', 1)]
Cluster id 6911
	PERSON: [('Kori 4', 1)]
	ORG: [('KHNP', 1)]
	GPE: [('South Korea', 2), ('Seoul', 1), ('Busan', 1)]
Cluster id 3052
	GPE: [('US', 4), ('North Korea', 2), ('Seoul', 2)]
	LOC: [('Asia-Pacific', 2)]
	PERSON: [('Harry Harris', 2), ('Harris', 2)]
	ORG: [('Ulchi Freedom Guardian', 2)]
Cluster id 3810
	PERSON: [('Moon Jae', 2), ('Park Neung-hoo', 2), ('Park Sang-ki', 1)]
	ORG: [('Paik Un-gyu', 2), ('Cabinet', 1), ('Justice', 1)]
Cluster id 8536
	PERSON: [('Choi Jong-kun', 2), ('Choi', 1), ('US.Despite', 1)]
	NORP: [('Northeast Asian', 2)]
	GPE: [('South Korea', 3), ('Seoul', 2), ('North Korea', 1), ('US', 1), ('China', 1)]
	LOC: [('the Korean Peninsula', 1), ('North', 1)]
	ORG: [('Trump', 1)]
Cluster id 5872
	GPE: [('US', 3)]
	PERSON: [('McCain', 2), ('John McCain', 1), ('Donald Trump', 1), ('Kim Jong-un', 1), ('Kim', 1), ('Clinton', 1)]
	NORP: [('North Korean', 1), ('Republicans', 1)]
	WORK_OF_ART: [('Trump', 1)]
	LOC: [('North', 2)]
	ORG: [('Trump', 1)]
Cluster id 2167
	PERSON: [('Won Sei-hoon', 1), ('Won', 1), ('Lee', 1), ('Sei-hoon', 1)]
	ORG: [('NIS', 1), ('National Intelligence Service', 1)]
Cluster id 5893
	NORP: [('South Koreans', 1)]
Cluster id 7940
	GPE: [('Malaysia', 1)]
	PERSON: [('Noor Rashid Ibrahim', 1), ('Ri Ji-u', 1), ('Kim Jong-nam', 1), ('Ri Jong-chol', 1), ('Ri', 1)]
	NORP: [('North Korean', 4), ('North Koreans', 1)]
	ORG: [('General Bureau', 1)]

### Experiment

In [24]:
df2016[df2016.label == 16]['title'].tolist()

['N. Korea resumes encrypted numbers broadcast with same content as 2 weeks ago',
 'N. Korea resumes encrypted numbers broadcast after 4-day break',
 'NK resumes encrypted numbers broadcast after 8-day break',
 'NK resumes encrypted numbers broadcast after 9-day break',
 'NK resumes encrypted numbers broadcast after 2-week hiatus']

In [25]:
df2016[df2016.label == 16].index.tolist()

[17, 230, 909, 1163, 1382]

In [44]:
df2016[df2016.label == 16]['body'].tolist()[0]

'North Korea\'s state radio station resumed broadcasting mysterious numbers Friday in what could be some kind of coded message to its agents operating in South Korea.Radio Pyongyang, the North\'s state-run radio station, started broadcasting messages at 1:15 a.m. (Seoul time), calling out a series of pages and numbers, such as No. 69 on Page 894, before repeating them one more time.The radio announcer said, "(I\'m giving) review works in math lessons of the remote education university for No. 27 expedition agents." The content was the same as those transmitted in the early hours of Dec. 16.Since June 24, 20 of such encrypted numbers broadcasts have been discovered, with the latest one broadcast Sunday. (Yonhap)Broadcasts of mysterious numbers are considered a kind of book cipher that was often used by North Korea to give missions to spies operating in South Korea during the Cold War era. Spies could decode numbers to get orders by using a reference book, although many intelligence officials believe this form of sending orders to be totally outdated.Many have said the broadcasts may be some sort of psychological strategy aimed at sparking internal confusion within South Korea.Pyongyang had initially suspended such broadcasts in 2000, when the two Koreas held their first historic summit.(Yonhap)'

In [34]:
def extract(sent, clusters=top20sum['label2015']):
    doc = nlp(sent)
    ent_list = dict()
    for ent in doc.ents:
        if not ent.label_ in ['MONEY','TIME','CARDINAL','QUANTITY','DATE','ORDINAL','PERCENT']:
            if ent.label_ in ent_list:
                ent_list[ent.label_].append(ent.text)
            else:
                ent_list[ent.label_] = [ent.text]
    print("Cluster id {}".format(16))
    for k in ent_list:
        v = ent_list[k]
        ent_counter = Counter(v)
        top10item = ent_counter.most_common(10)
        print("\t{}: {}".format(k, top10item))

for i in range(5):
    print(extract(sent = df2016[df2016.label == 16]['body'].tolist()[i],
                  clusters = top20sum['label2016']))

Cluster id 16
	GPE: [('South Korea', 3), ("North Korea's", 1), ('Seoul', 1), ('North Korea', 1), ('Pyongyang', 1), ('Koreas', 1)]
	ORG: [('Radio Pyongyang', 1)]
	LOC: [('North', 1)]
	EVENT: [('the Cold War', 1)]
None
Cluster id 16
	GPE: [('South Korea', 3), ('North Korea', 2), ("North Korea's", 1), ('Korea', 1), ('Pyongyang', 1), ('Koreas', 1)]
	ORG: [('Radio Pyongyang', 1), ('Musudan', 1), ('Yonhap', 1)]
	EVENT: [('the Cold War', 1)]
None
Cluster id 16
	GPE: [('South Korea', 3), ('North Korea', 3), ("North Korea's", 1), ('Seoul', 1), ('Pyongyang', 1), ('Koreas', 1)]
	ORG: [('Radio Pyongyang', 1), ('Musudan', 1), ('Yonhap', 1)]
	EVENT: [('the Cold War', 1)]
None
Cluster id 16
	GPE: [('South Korea', 3), ('North Korea', 3), ("North Korea's", 1), ('Seoul', 1), ('Pyongyang', 1), ('Koreas', 1)]
	ORG: [('Radio Pyongyang', 1), ('Musudan', 1), ('Yonhap', 1)]
	EVENT: [('the Cold War', 1)]
None
Cluster id 16
	GPE: [('Seoul', 3), ('North Korea', 3), ('South Korea', 2), ("North Korea's", 1), ('Pyongyang', 1), ('Koreas', 1), ('Washington', 1)]
	NORP: [('North Korean', 1)]
	ORG: [('Radio Pyongyang', 1), ("Workers' Party of Korea", 1)]
	EVENT: [('the Cold War', 1)]
	LOC: [('North', 1)]
	PERSON: [('Yonhap', 1)]
None